<!DOCTYPE html>
<html>
<head>
<meta content="width=device-width; initial-scale=1.25; maximum-scale=2.0; user-scalable=1;" name="viewport"/>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}" />
<script src="{% static 'web/jquery-3.2.1.js' %}" ></script>
<script>
var myVar = setInterval(function(){ refresh_data() }, 1000);

function loadStatus() {
	 var xmlhttp = new XMLHttpRequest();
	 xmlhttp.onreadystatechange = function() {
		 if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
			 document.getElementById("refresh").innerHTML = xmlhttp.responseText;
		 }
	 }
	 xmlhttp.open("GET", "/web/status", true);
	 xmlhttp.send();
}

function sendRequest(resource) {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("action_result").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", resource, true);
  xhttp.send();
}

function sendRequest2() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("action_result").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "/web/heat", true);
  xhttp.send();
}

function setReference(room_id, room_name){

      var form_data = {};
      var post_url = "/web/set_reference";

      var new_reference = document.getElementById(room_name + "_ref_selector");
      var form_data = {"new_reference" : new_reference.value,
                       "room_id" : room_id};
  
      console.log(form_data);
      $.post( post_url, form_data, function( response ) {
          $("#action_result").html( response );
      });

  };

  function refresh_data(){
    $.getJSON("/web/data", function(result){
        $.each(result, function(name, data){
          $("#" + name + "_reference" ).html(data.reference);
          $("#" + name + "_temperature" ).html(data.temperature);
          $("#" + name + "_humidity" ).html(data.humidity);
        });
    });
  };


</script>
</head>
<body>

{% if service_name %}
    <ul>
     <h3>{{ service_name }}</h3>
    </ul>
{% else %}
    <p>no service_name available</p>
{% endif %}



<p id="action_result">...</p>
<button class="button" type="button" onclick="sendRequest('/web/door')">DOOR</button>

<p id="refresh"></p>

<div style="overflow-x:auto;">
<table>
  <tr>
      <th>ROOM</th><th>REF</th><th>TEMP</th><th>HUMIDITY</th><th>SET</th>
  </tr>
  {% for room in room_list %}

  <tr>
    <td>{{ room.name }}</td>
    <td><p id="{{ room.name }}_reference"></p></td>
    <td><p id="{{ room.name }}_temperature"></p></td>
    <td><p id="{{ room.name }}_humidity"></p></td>
    <td>REF_SET:<select id="{{ room.name }}_ref_selector">
        {% for temp in room.ref_temp_list %}
            {% if temp == room.reference %}
              <option value="{{ temp }}" selected>{{ temp }}</option>
            {% else %}
              <option value="{{ temp }}">{{ temp }}</option>
            {% endif %}
        {% endfor %}
      </select>
      <button class="button_blue" type="button" onclick="setReference('{{ room.id }}', '{{ room.name }}')">SET</button>
      </td>
  </tr>

  {% endfor %}
</table>
</div>

    <button class="button_blue" type="button" onclick="sendRequest('/web/cold')">COLD</button> 
    <button class="button_red" type="button" onclick="sendRequest('/web/heat')">HEAT</button> <br />
    <button class="button_gray" type="button" onclick="sendRequest('/web/light_start')">LIGHT_ON</button>
    <button class="button_black" type="button" onclick="sendRequest('/web/light_stop')">LIGHT_OFF</button> <br />
    

</body>

</html>