{% if room_list %}
    <ul>
    
    
    <table>
    
        {% for room in room_list %}
    <tr>
     <td>
        <h3>{{ room.name }}</h3>
     </td>
     <td>
         <tr>
            <td><li>REFERENCE: {{ room.reference }}</li></td></tr>
         <tr><td><li>temp: {{ room.temperature }}</li></td></tr>
         <tr><td><li>humidity: {{ room.humidity }}</li></td></tr>
     </td>
     </tr>
     
    {% endfor %}
    </table>

    </ul>
{% else %}
    <p>No container availabel</p>
{% endif %}